src/main/mule/demo12.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2b0fd8ed-6edf-46de-b957-26fd026e698d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="35b99454-b2cb-477f-b840-426cd401cab0" >
		<http:request-connection host="dummy.restapiexample.com" port="80"/>
	</http:request-config>
	<flow name="demo12Flow" doc:id="dab64a44-8b26-4981-9d25-e2cae803682b" >
		<http:listener doc:name="Listener" doc:id="6ccd3ebc-0ab7-4631-b9b6-9be4f7b1628f" config-ref="HTTP_Listener_config" path="/employee"/>
		<http:request method="GET" doc:name="Request" doc:id="0395717e-be4f-48da-817f-56f5113500f9" config-ref="HTTP_Request_configuration" path="/api/v1/employees"/>
		<logger level="INFO" doc:name="Logger" doc:id="feeb00a9-37c9-4b22-b79c-099193ef2246" message="#[payload]"/>
	</flow>
</mule>
